spring:
  datasource:
    url: ${DB_URL}?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        dialect.storage_engine: innodb
    show-sql: true
    hibernate:
      ddl-auto: update

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${OAUTH2_KAKAO_CLIENT_ID}
            client-secret: ${OAUTH2_KAKAO_CLIENT_SECRET}
            redirect-uri: ${API_URI}/{action}/oauth2/code/{registrationId}
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: kakao
            scope:
              - profile_nickname
              - account_email
          naver:
            client-id: ${OAUTH2_NAVER_CLIENT_ID}
            client-secret: ${OAUTH2_NAVER_CLIENT_SECRET}
            redirect-uri: ${API_URI}/{action}/oauth2/code/{registrationId}
            authorization-grant-type: authorization_code
            client-name: naver
            scope:
              - name
              - email
          google:
            client-id: ${OAUTH2_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH2_GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 200MB
      resolve-lazily: true

#cloud:
#  aws:
#    s3:
#      bucket: ${S3_BUCKET}
#      base-url: ${S3_BASE_URL}
#    credentials:
#      access-key: ${S3_ACCESS_KEY}
#      secret-key: ${S3_SECRET_KEY}
#    region:
#      static: ap-northeast-2
#    stack:
#      auto: false

jwt:
  secret_key: ${JWT_SECRET_KEY}
  issuer: ${JWT_ISSUER}
  expires-in: ${JWT_EXPIRES_IN}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}

service:
  swagger:
    production-url: ${API_URI}
  oauth2:
    redirect-uri: ${SERVICE_OAUTH2_REDIRECT_URI}

#external:
#  api-url:
#    model: ${EXTERNAL_API_URL_MODEL}